*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #222;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1,
h2 {
    text-align: center;
    color: white;
}

label {
    color: white;
}

th,
td {
    color: white;
}

h1 {
    font-weight: 400;
    margin-top: 1rem;
}

h2 {
    font-weight: 400;
}

#name-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 5rem;

}

#name-div>label {
    margin-right: 1rem;
}

#amount-date-div>label {
    margin-right: 1rem;
}

#amount-date-div>select {
    margin-right: 0.5rem;
    cursor: pointer;
    height: 2rem;
}

#amount-date-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 2rem;
}



#amount-date-div>input[name="date"] {
    height: 2rem;
}

#btn-div {
    display: flex;
    justify-content: center;
}

#btn-div>button {
    background-color: rgb(37, 158, 37);
    color: white;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: none;
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

table {
    margin: auto;
    border-spacing: 15px 0px;
}



#amount {
    padding-right: 5rem;
    height: 2rem;
}



#name-div>input {
    padding-right: 50rem;
    height: 2rem;

}

.remove-button {
    color: white;
    width: 4rem;
    height: 2rem;
    background-color: rgba(116, 49, 49, 0.623);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.remove-button:hover {
    opacity: 0.7;

}

#add-btn {
    cursor: pointer;
    transition: all 0.3s ease;
}

#add-btn:hover {
    opacity: 0.7;
    color: black;
}